@media all and (max-width: 1440px) {
    html {
        font-size: 90%;
    }
}

@media all and (max-width: 950px) {
    .logo {
        margin-left: 1em;
    }

    .nav-burger {
        height: 32px;
        width: 32px;
        top: 0.2em;
        background-image: url(../icons/menu2.png);
        position: relative;
        display: block;
        float: right;
        margin-right: 1em;
    }

    .menu__item {
        display: block;
        border-top: 1px solid #111111;
    }

    .menu {
        display: none;
        margin: 3em auto 0 auto;
        float: none;
        text-align: center;
    }

    .nav-burger-checkbox:checked + .nav-burger {
        background-image: url(../icons/close.png);
    }

    .nav-burger-checkbox:checked ~.menu {
        display: block;
    }

    .contacts {
        padding: 1em;
        width: 100%;
        height: 450px;
    }

    .map {
        width: 100%;
    }

}


@media all and (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .header {
        position: relative;
        font-size: 80%;
    }

    .main {
        padding: 0;
    }

    .team__responsive {
        width: 42%;
        margin: 2% 4%;
    }

    .about-us {
        margin: 0 auto;
        width: 90%;
    }

    .gallery__responsive {
        width: 50%;
    }

    .cost {
        width: 95%;
    }
}

@media all and (max-width: 568px) {
    .features__item {
        display: block;
        width: 70%;
        margin: 0 auto 4em auto;
        float: none;
    }

    .feature__item__icon,
    .feature__item__number {
        font-size: 5em;
        margin: 0;
        padding: 0;
    }

    .social,
    .phone,
    .address {
        display: block;
        width: 100%;
        line-height: 2em;
    }

    .gallery__responsive {
        width: 100%;
    }

    .cost {
        padding: 1em;
    }

    .cost__list {
        width: 100%;
    }

}