@media (max-width: 1440px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .header {
        position: relative;
        font-size: 80%;
    }

    .main {
        padding: 0;
    }

    .team__responsive {
        width: 42%;
        margin: 2% 4%;
    }

    .about-us {
        margin: 0 auto;
        width: 90%;
    }

    .logo {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .menu {
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    .menu__item {
        width: inherit;
    }

    .gallery__responsive {
        width: 50%;
    }

    .cost {
        width: 95%;
    }
}

@media (max-width: 568px) {
    .features__item {
        display: block;
        width: 70%;
        margin: 0 auto 4em auto;
        float: none;
    }

    .feature__item__icon,
    .feature__item__number {
        font-size: 5em;
        margin: 0;
        padding: 0;
    }

    .social,
    .phone,
    .address {
        display: block;
        width: 100%;
        line-height: 2em;
    }

    .gallery__responsive {
        width: 100%;
    }

    .cost {
        padding: 1em;
    }

    .cost__list {
        width: 100%;
    }

}