html {
    height: 100%;
    background: gray url("../images/wallhaven-637140.jpg") center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    word-spacing: 0.3em;
}

h2 {
    font-size: 1.8em;
    word-spacing: 0.2em;
}

body {
    height: 100%;
    color: white;
}

.header {
    width: 100%;
    float: left;
    min-height: 7vh;
    overflow: hidden;
    border-bottom: 1px solid rgba(47, 47, 47, 0.78);
    background-color: rgb(6, 6, 6);
    outline: 1px solid rgba(42, 42, 42, 0.99);
}

.main {
    float: left;
    clear: both;
    width: 100%;
    min-height: 81vh;
    background-color: rgba(0, 0, 0, 0.58);
    line-height: 1.7em;
    padding-top:1px;
}

.footer {
    position: relative;
    clear: both;
    text-align: center;
    width: 100%;
    min-height: 12vh;
    background-color: rgb(0, 0, 0);
}

.logo {
    display: inline-block;
    height: 2.5em ;
    margin: 0.25em 0 0.25em 7vh;
    float: left;
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3);
}

.menu {
    margin: 0;
    padding: 0;
    float: right;
    vertical-align: middle;
    list-style: none;
}

.nav-burger,
.nav-burger-checkbox {
    display: none;
}

.menu__item {
    display: inline-block;
    -webkit-transition: background, 0.4s;
    -o-transition: background, 0.4s;
    transition: background, 0.4s;
    padding: 1em;
}

.menu__item:hover {
background-color: rgba(255, 109, 0, 0.64);
}

.menu__item:active {
background-color: rgba(161, 155, 150, 0.35);
}

.active {
    background-color: rgba(255, 109, 0, 0.64);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.video-viewport {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-bg {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-us {
    text-align: center;
    margin: 4em auto 0 auto;
    width: 60%;
    height: 100%;
}

.about-us__header {
    display: inline-block;
    position: relative;
}

.about-us__header:before {
    bottom: -0.5em;
    left: 10%;
    position: absolute;
    content: '';
    background-color: #ff6d00;
    width: 80%;
    height: 0.1em;
}

.features {
    width: 70%;
    margin: 4vh auto;
}

.features__item {
    text-align: center;
    float: left;
    width: 29.333%;
    margin: 2%;
}

.feature__item__icon {
    font-size: 3em;
}

.feature__item__number {
    color: #ff6d00;
    font-size: 3em;
    font-weight: 900;
}

.feature__item__name {
    font-weight: 500;
}

.feature__item__icon,
.feature__item__number,
.feature__item__name {
    display: block;
    padding: 0.3em;
}

.team {
    clear: both;
    width: 80%;
    margin: 5vh auto;
    text-align: center;
}

.images {
    width: 100%;
    text-align: center;
}

.team__header {
    display: inline-block;
    margin-bottom: 2em;
    position: relative;
    text-align: center;
}

.team__header:before {
    bottom: -0.5em;
    left: 10%;
    position: absolute;
    content: '';
    background-color: #ff6d00;
    width: 80%;
    height: 0.11em;
}

.team__responsive {
    position: relative;
    width: 17%;
    display: inline-block;
    border-radius: 20%;
    overflow: hidden;
    height: auto;
    float: left;
    margin: 2% 4%;
}

.responsive__item__image {
    width: 100%;
    height: auto;
    border-radius: 20%;
    background-color: black;

}

.responsive__item__overlay {
    font-size: 1.1em;
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(38, 38, 38, 0.51);
    -webkit-transition: all 0.35s cubic-bezier(.14,.56,.53,.87);
    -o-transition: all 0.35s cubic-bezier(.14,.56,.53,.87);
    transition: all 0.35s cubic-bezier(.14,.56,.53,.87);
}

.responsive__item:hover .responsive__item__overlay{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.responsive__item__overlay__name {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

}

.job {
    font-size: 0.8em;
}

.responsive__item:hover .responsive__item__overlay__name{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.2s 0.35s cubic-bezier(.14,.56,.53,.87);
    -o-transition: all 0.2s 0.35s cubic-bezier(.14,.56,.53,.87);
    transition: all 0.2s 0.35s cubic-bezier(.14,.56,.53,.87);
}

.social,
.phone,
.address {
    display: inline-block;
    width: 33%;
    line-height: 2em;
}

.social {
    font-size: 2em;
}

.block {
    display: block;
}

.gallery {
    width: 90%;
}

.gallery__responsive {
    position: relative;
    width: 25%;
    display: inline-block;
    overflow: hidden;
    height: auto;
    float: left;
    font-size: 1.1em;
    margin-bottom: -7px;
}

.gallery__image {
    border-radius: 0;
    height: 100%;
}

.cost {
    display: block;
    margin: 2em auto;
    padding: 1em 2em;
    box-sizing: border-box;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.61);
}

.cost__list {
    float: left;
    width: 50%;
    height: auto;
    font-size: 0.8em;
    padding: 0;
    margin: 0 0 1em 0;
    list-style-position: inside;
    list-style-image: url(../icons/mark2.png);
}

.cost__type {
    text-align: center;
}

.cost__text {
    text-align: justify;
}

.cb {
    clear: both;
}

.list-name {
    margin: 0;
    padding: 0;
}

.map,
.contacts {
    width: 50%;
    height: 81vh;
    float: left;
}

.contacts {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(29, 29, 29);
}


.contacts__content {
    top: 40%;
    margin-top: -154px;
    height: 308px;
    width: 100%;
    float: left;
    clear: both;
    text-align: center;

    position: relative;
}


.btn-feedback {
    position: absolute;
    display: block;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1em;
    width: 15em;
    height: 2em;
    text-align: center;
    background-color: black;
    overflow: hidden;
    transition: height 1s, width 1s;
}

.btn-feedback__main {
    display: block;

    margin: 0 0 1.2em 0;
}

.btn-feedback:hover {
    height: 80%;
    width: calc(80% - 2em);
}

.btn-feedback__send {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 0.5em;
    background-color: #161616;
}

.btn-feedback__send:hover {
    background-color: #2e2e2e;

}

.btn-feedback:hover .btn-feedback__send{
    opacity: 1;
    transition: opacity 1s 0.3s;
}

input[type="text"] {
    float: left;
    width: 100%;
    background: none;
    margin-bottom: 20px;
    font-size: 14px;
    height: 30px;
    position: relative;
    z-index: 20;
    padding-left: 8px;
    border-radius: 0;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    -webkit-appearance: none;
    outline: 0;
}

textarea {
    height: 70px;
    resize: none;
    overflow: auto;
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
}

