html {
    height: 100%;
    background: gray url("../images/wallhaven-637140.jpg") center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 2.3em;
    word-spacing: 0.3em;
}

h2 {
    font-size: 1.8em;
    word-spacing: 0.2em;
}

body {
    height: 100%;
    color: white;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    border-bottom: 0.2vh solid rgba(52, 52, 52, 0.54);
    background-color: rgba(6, 6, 6, 0.94);
    outline: 0.2vh solid rgba(0, 0, 0, 0.89);
    z-index: 1;
}

.main {
    float: left;
    clear: both;
    padding-top: 2vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.58);
}

.footer {
    position: relative;
    clear: both;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.logo {
    display: block;
    height: 3em ;
    margin: auto 0 auto 7vh;
    float: left;
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3);
}

.menu {
    margin: 0;
    padding: 0;
    float: right;
    vertical-align: middle;
    list-style: none;
}

.menu li {
    display: inline-block;
    height: 100%;
    -webkit-transition: background, 0.4s;
    -o-transition: background, 0.4s;
    transition: background, 0.4s;
    margin: 0;
    padding: 0;
}

.menu li:hover {
    background-color: rgba(255, 109, 0, 0.64);
}

.menu li:active {
    background-color: rgba(161, 155, 150, 0.35);
}

.menu__item {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.active {
    background-color: rgba(255, 109, 0, 0.64);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.video-viewport {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-bg {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.about-us {
    text-align: center;
    margin: 4em auto 0 auto;
    width: 60%;
}

.about-us__text {
    line-height: 1.7em;
}

.about-us__header {
    display: inline-block;
    position: relative;
}

.about-us__header:before {
    bottom: -0.2em;
    left: 10%;
    position: absolute;
    content: '';
    background-color: #ff6d00;
    width: 80%;
    height: 0.1em;
}

.features {
    width: 70%;
    margin: 4vh auto;
}

.features__item {
    text-align: center;
    float: left;
    width: 29.333%;
    margin: 2%;
}

.feature__item__icon {
    font-size: 3em;
}

.feature__item__number {
    color: #ff6d00;
    font-size: 3em;
    font-weight: 900;
}

.feature__item__name {
    font-weight: 500;
}

.feature__item__icon,
.feature__item__number,
.feature__item__name {
    display: block;
    padding: 0.3em;
}

.team {
    clear: both;
    width: 80%;
    margin: 5vh auto;
    text-align: center;
}

.images {
    width: 100%;
    text-align: center;
}

.team__header {
    display: inline-block;
    margin-bottom: 2em;
    position: relative;
    text-align: center;
}

.team__header:before {
    bottom: -0.3em;
    left: 10%;
    position: absolute;
    content: '';
    background-color: #ff6d00;
    width: 80%;
    height: 0.1em;
}

.team__responsive {
    position: relative;
    width: 17%;
    display: inline-block;
    border-radius: 20%;
    overflow: hidden;
    height: auto;
    float: left;
    margin: 2% 4%;
}

.responsive__item__image {
    width: 100%;
    height: auto;
    border-radius: 20%;
    background-color: black;

}

.responsive__item__overlay {
    font-size: 1.1em;
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(38, 38, 38, 0.51);
    -webkit-transition: all 0.35s cubic-bezier(.14,.56,.53,.87);
    -o-transition: all 0.35s cubic-bezier(.14,.56,.53,.87);
    transition: all 0.35s cubic-bezier(.14,.56,.53,.87);
}

.responsive__item:hover .responsive__item__overlay{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.responsive__item__overlay__name {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.2s 0.35s cubic-bezier(.14,.56,.53,.87);
    -o-transition: all 0.2s 0.35s cubic-bezier(.14,.56,.53,.87);
    transition: all 0.2s 0.35s cubic-bezier(.14,.56,.53,.87);
}

.job {
    font-size: 0.8em;
}

.responsive__item:hover .responsive__item__overlay__name{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.social,
.phone,
.address {
    display: inline-block;
    width: 33%;
    line-height: 2em;
}

.social {
    font-size: 2em;
}

.block {
    display: block;
}

.gallery {
    width: 90%;
}

.gallery__responsive {
    position: relative;
    width: 25%;
    display: inline-block;
    overflow: hidden;
    height: auto;
    float: left;
    font-size: 1.1em;
}

.gallery__image {
    border-radius: 0;
    height: 100%;
}